.articleContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coverImage {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coverImageContainer {
  position: relative;
  width: 90%;
  margin: auto;
}

.section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 3rem;
  border-radius: 15px;
  border: 1px solid black;
  padding: 30px;
  box-shadow: -10px 10px 0px #d14e98;
}

.list {
  padding-left: 2rem;
}

.syntaxDiv {
  margin-top: 2rem;
  width: 100%;
}

.syntaxImg {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.useCase1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.syntaxInfo {
  display: flex;
  align-items: start;
  gap: 2rem;
}

.useCases {
  margin-top: 2rem;
}

.inputRefVideo {
  width: 31rem;
  border-radius: 10px;
}

.rounded {
  border-radius: 15px;
}

.useCase1Code {
  display: flex;
  align-items: start;
  gap: 2rem;
}

.useCase2 {
  border-radius: 15px;
  width: 100%;
  height: auto;
}

.gameSection {
  width: 100%;
}

.gameDiv {
  width: 100%;
}

.reactionGrid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.reactionBox {
  background-color: red;
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.reactionBoxPlaceholder {
  background-color: rgb(194, 194, 194);
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.gameHeadingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.startGameButton {
  background-color: green;
  color: white;
  font-size: 1.2rem;
  font-weight: 200;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  outline: none;
  border: none;
  box-shadow: -4px 5px 0px 1px black;
  cursor: pointer !important;
  pointer-events: auto !important;
}

.startGameButton:hover {
  scale: 110%;
  transition: 200ms ease-in-out;
}

.gameStartButtonTimerDiv {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.gameStartButtonTimerDiv > span {
  font-size: 2rem;
}

.reactionTime {
  margin-top: 2rem;
}

.gameWorkingDetails {
  margin-top: 2rem;
}

.gameCodeContainer {
  margin-bottom: 2rem;
}

.creatorMessage {
  margin-top: 2rem;
}

.gameActionButton {
  background-color: green;
  color: white;
  font-size: 1.2rem;
  font-weight: 200;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  outline: none;
  border: none;
  margin-top: 3rem;
  animation: pulse 0.8s infinite alternate;
  box-shadow: -4px 5px 0px 1px black;
  cursor: pointer !important;
  pointer-events: auto !important;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/* For mobile phones */

@media (max-width: 480px) {
  .syntaxInfo {
    flex-direction: column;
  }

  .syntaxImg {
    width: 100%;
    height: auto;
  }

  .inputRefVideo {
    width: 100%;
  }

  .list {
    font-size: 0.8rem;
  }

  .usages {
    font-size: 0.8rem;
  }

  .coverImageContainer {
    width: 100%;
  }

  .useCase2 {
    border-radius: 7px;
  }

  .gameHeadingContainer {
    flex-direction: column;
    gap: 1rem;
  }
  .startGameButton {
    font-size: 0.8rem;
  }
  .reactionGrid {
    gap: 5px;
  }
}

/* For tablets */

@media (min-width: 481px) and (max-width: 768px) {
  .syntaxInfo {
    flex-direction: column;
  }

  .syntaxImg {
    width: 100%;
    height: auto;
  }

  .inputRefVideo {
    width: 16rem;
  }

  .list {
    font-size: 0.8rem;
  }

  .usages {
    font-size: 0.8rem;
  }

  .coverImageContainer {
    width: 100%;
  }

  .useCase2 {
    border-radius: 7px;
  }

  .gameHeadingContainer {
    flex-direction: column;
    gap: 1rem;
  }
  .startGameButton {
    font-size: 0.8rem;
  }
  .reactionGrid {
    gap: 5px;
  }
}
