.wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: -10px 10px 0px;
  position: relative;
}

/* width */

.wSmall {
  width: 40%;
}

.wMedium {
  width: 60%;
}

.wLarge {
  width: 90%;
}

.wFull {
  width: 100%;
}

.wFitContent {
  width: fit-content;
}

/* Margin */

.mSmall {
  margin-top: 1rem;
}

.mMedium {
  margin-top: 2rem;
}

.mLarge {
  margin-top: 5rem;
}

/* For mobile Phones */

@media (max-width: 480px) {
  .wLarge {
    width: 95%;
  }
}

/* For Tablets */

@media (min-width: 481px) and (max-width: 768px) {
  .wrapper {
    border-radius: 12px;
    box-shadow: -8px 8px 0px;
  }

  .wSmall {
    width: 50%;
  }

  .wMedium {
    width: 70%;
  }

  .wLarge {
    width: 95%;
  }

  .mSmall {
    margin-top: 0.8rem;
  }

  .mMedium {
    margin-top: 1.5rem;
  }

  .mLarge {
    margin-top: 2.5rem;
  }
}
