.wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: -10px 10px 0px;
  position: relative;
}

/* width */

.wSmall {
  width: 40%;
}

.wMedium {
  width: 60%;
}

.wLarge {
  width: 90%;
}

.wFull {
  width: 100%;
}

.wFitContent {
  width: fit-content;
}

/* Margin */

.mSmall {
  margin-top: 1rem;
}

.mMedium {
  margin-top: 2rem;
}

.mLarge {
  margin-top: 3rem;
}

@media (max-width: 480px) {
  .wLarge {
    width: 95%;
  }
}
